.App {
  text-align: center;
}

.pagination {
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 3px;
}

.button {
  margin: 5px;
}

.loading {
  text-align: center;
  justify-content: center;
}
